* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: #34485a;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  max-width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
body header {
  width: 100%;
  display: flex;
  flex-direction: column;
}
body header .topPartHeader {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  background-color: #3ad4d8;
}
body header .topPartHeader .gmailAndPhoneInfo {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .topPartHeader .gmailAndPhoneInfo .phone {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  border-right: solid 1px black;
  padding-right: 12px;
}
body header .topPartHeader .gmailAndPhoneInfo .email {
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}
body header .topPartHeader .contactPart {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .navbar {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .infoPage {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body header .navbar .infoPage a {
  font-size: 13px;
  font-weight: 800;
}
body header .navbar .infoPage .pages {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header .navbar .infoPage .pages .dot {
  width: 4px;
  height: 4px;
  background-color: #3AD4D8;
  border-radius: 50%;
}
body header .navbar .infoPage .pages .red {
  color: red;
}
body header .navbar .logo {
  width: 84px;
  height: 58px;
}
body header .navbar .navbarLinks {
  max-width: 861px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .navbarLinks .links {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #181818;
  display: inline-block;
  position: relative;
}
body header .navbar .navbarLinks .links::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
body header .navbar .navbarLinks .links:hover::after {
  width: 100%;
  left: 0;
}
body header .navbar .navbarLinks .links:nth-child(9)::after {
  content: "";
  display: block;
  bottom: 0;
  height: 2px;
  left: 0%;
  position: absolute;
  background: #3AD4D8;
  width: 100%;
}
body header .navbar .navbarButtons {
  width: 280px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body header .navbar .navbarButtons .buttonsInNavbar {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  transition: 0.6s ease-out;
}
body header .navbar .navbarButtons .buttonsInNavbar:hover {
  cursor: pointer;
  background-color: #671c7c;
}
body header .navbar .navbarButtons .likeButton {
  background-image: url("../../images/Header/like.png");
  background-repeat: no-repeat;
  background-size: 55% 50%;
  background-position: center;
}
body header .navbar .navbarButtons .likeButton:hover {
  background-image: url("../../images/Header/likeHover.png");
}
body header .navbar .navbarButtons .userButton {
  background-image: url("../../images/Header/user.png");
  background-size: 55% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
body header .navbar .navbarButtons .userButton:hover {
  background-image: url("../../images/Header/userHover.png");
}
body header .navbar .navbarButtons .searchButton {
  background-image: url("../../images/Header/search.png");
  background-size: 55% 50%;
  background-repeat: no-repeat;
  background-position: center;
}
body header .navbar .navbarButtons .searchButton:hover {
  background-image: url("../../images/Header/searchHover.png");
}
body header .navbar .navbarButtons .hMenu {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 40%;
  background-color: white;
  display: none;
  flex-direction: column;
  gap: 6px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
}
body header .navbar .navbarButtons .hMenu .line {
  width: 35px;
  height: 4px;
  border: none;
  background-color: #671c7c;
  border-radius: 2px;
}
body main {
  width: 100%;
  display: flex;
}
body main .left {
  width: 50%;
  height: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
body main .left img {
  position: absolute;
  z-index: -1;
}
body main .left .purpleRectangle {
  left: 120px;
  top: 20px;
}
body main .left .purpleCircle {
  left: 100px;
  top: 40px;
}
body main .left .orangeCircle {
  right: 80px;
  top: 30px;
}
body main .left .lightBlueCircle {
  bottom: 30px;
  left: 50px;
}
body main .left .contactCard {
  width: 600px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
}
body main .left .contactCard img {
  position: static;
  z-index: 10;
}
body main .left .contactCard .mail {
  width: 300px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body main .left .contactCard .phone {
  width: 350px;
  display: flex;
  align-items: center;
  gap: 10px;
}
body main .left .contactCard .sosialLinks {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
}
body main .right {
  width: 50%;
  height: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}
body main .right .text {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
body main .right form {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body main .right form input {
  width: 450px;
  height: 40px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  outline: none;
  border: none;
  font-weight: 700;
}
body main .right form input::-moz-placeholder {
  font-weight: 700;
}
body main .right form input::placeholder {
  font-weight: 700;
}
body main .right form select {
  width: 450px;
  height: 40px;
  border-radius: 20px;
  padding: 0 10px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border: none;
  outline: none;
  font-weight: 700;
}
body main .right form select option {
  font-weight: 700;
}
body main .right form textarea {
  width: 450px;
  height: 100px;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  outline: none;
  border: none;
  font-weight: 700;
}
body main .right form textarea::-moz-placeholder {
  font-weight: 700;
}
body main .right form textarea::placeholder {
  font-weight: 700;
}
body main .right form button {
  width: 450px;
  height: 40px;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(67, 67, 67, 0.25);
  border: none;
  background-color: #543EE9;
  color: white;
  cursor: pointer;
  transition: 0.6s;
  font-weight: 700;
  margin-top: 20px;
}
body main .right form button:hover {
  background-color: white;
  color: #543EE9;
  border: solid 1px #543EE9;
}
body footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #671C7C;
  margin-top: 100px;
}
body footer a,
body footer p {
  color: white;
}
body footer .footerTop {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
body footer .footerTop .part1 {
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
body footer .footerTop .part2 {
  width: 20%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body footer .footerTop .part2 img {
  width: 107px;
  height: 79px;
}
body footer .footerTop .part3 {
  width: 40%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}
body footer .footerTop .part3 button {
  width: 150px;
  height: 40px;
  border: none;
  background-color: #3ad4d8;
  border-radius: 20px;
  color: #671C7C;
  font-weight: 700;
  transition: 0.6s;
  cursor: pointer;
}
body footer .footerTop .part3 button:hover {
  background-color: #543ee9;
  color: white;
}
body footer .footerTop .part4 {
  width: 30%;
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
body footer .footerTop .part5 {
  width: 20%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
body footer .footerTop .part6 {
  width: 20%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
body footer .footerTop .part7 {
  width: 30%;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
body footer .footerBottom {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
body footer .footerBottom .lastWord::after {
  content: " JedAi";
}/*# sourceMappingURL=elaqe.css.map */